@import "compass/css3";
body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  margin: 0 auto;
  padding: 0;
  position: relative;
  justify-items: center;
  align-content: center;
  min-height: 100vh;
  background: black;
  font-family: consolas;
  color: white;
  text-align: center;
}

.text {
  font-size: 48px;
  padding-top: 200px;
}
.b {
  padding: 80px;
}
.button {
  border-radius: 50px;
  display: inline-block;
  padding: 25px 50px;
  color: #2196f3;
  /* text-transform: uppercase; */
  letter-spacing: 4px;
  overflow: hidden;
  text-decoration: none;
  font-size: 36px;
}

.b a:hover {
  color: white;
  background: #2196f3;
  transition-duration: 1s;
}

/*up*/
i {
  text-decoration: none;
}
.but a {
  color: white;
}

a span {
  position: absolute;
  display: block;
}

.but {
  position: absolute;
  top: 50px;
  right: 80px;
  cursor: pointer;
  text-decoration: none;
}

input[type="checkbox"] {
  transform: scale(1.6);
  margin-right: 20px;
}
label {
  padding-right: 60px;
}
.tags {
  font-size: 20px;
  margin: auto;
}

.col {
  width: 800px;
  display: table-row;
  text-align: left;
  /* set to whatever width works for you */
  /*float: left; */
  /* put the columns next to each other */
  margin-right: 10px;
  /* add some space between columns */
}

.col label {
  display: table-cell;
}
